// colors
$light: #F5FCFF;
$dark: #0B1013;
$section-bg: #9DDCF81A;
$primary: #F17122;
$primary-dark: #f17122d1;
$secondary: #9DDCF8;
$tertiary: #F2C42D;

// shadows
$btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);