@use 'colors' as *;
@use 'media-queries' as *;
@use 'typography' as *;

header {
    background-color: $dark;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;

    .header-container {
        align-items: center;
        display: flex;
        height: clamp(3.75rem, 2.391rem + 5.435vw, 5rem);
        justify-content: space-between;
    }
}

.header-bottom-border {
    background: #F2C42D;
    background: linear-gradient(90deg,rgba(242, 196, 45, 1) 0%, rgba(241, 112, 34, 1) 100%);
    height: 4px;
}

.logo-container {
    @include text-nav-heading;
    align-items: center;
    display: flex;
    gap: 0.75rem;
    padding-left: clamp(1rem, -0.359rem + 5.435vw, 2.25rem);

    img {
        width: 3rem;
    }
}

.hamburger-menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-right: 2.25rem;
    position: relative;
    width: 40px;
    z-index: 10;

    @include tablet {
        display: none;
    }

    .menu-bars {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        height: 100%;

        .menu-bar {
            background-color: $light;
            height: 2.5px;

            &-top { width: 40px; }
            &-middle { width: 40px; }
            &-bottom { width: 30px; }
        }
    }

}

.desktop-nav {
    display: none;
    opacity: 0;

    @include tablet {
        display: flex;
        opacity: 1;

        .desktop-nav-container {
            display: flex;
            justify-content: space-between;
            list-style: none;

            .desktop-nav-link-container {
                @include text-btn;
                display: flex;
                flex-direction: column;
                font-weight: 500;
                justify-content: center;
                letter-spacing: 0.5px;
                padding: 0 1rem;

                &:last-of-type {
                    padding-right: 2.25rem;
                }

                &:hover {
                    background-color: $section-bg;
                }

                a {
                    color: $light;
                    text-decoration: none;
                }
            }
        }

        .desktop-cta {
            @include text-btn;
            align-items: center;
            background-color: $primary;
            display: flex;
            height: 5.375rem;
            justify-content: center;
            text-decoration: none;
            width: 10rem;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}

.mobile-nav {
    background: #F2C42D;
    background: linear-gradient(0deg,rgba(242, 196, 45, 1) 0%, rgba(241, 112, 34, 1) 58%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    
    // Dev/Transition properties
    opacity: 0;

    @include phone {
        width: 22rem;
    }

    @include tablet {
        display: none;
        opacity: 0;
    }

    .mobile-nav-container {
        display: flex;
        flex-direction: column;
        padding: 5.75rem 0 0 0;


        .mobile-nav-link-container {
            @include text-nav-link-mobile;
            border-bottom: 1px solid $dark;
            list-style: none;
            padding: 1rem 3rem;

            &:first-of-type {
                border-top: 1px solid $dark;
            }

            a {
                color: $dark;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    figure {
        padding: 0 0 3rem 3rem;
        width: 10rem;

        img {
            width: 100%;
        }
    }
}