@use 'colors' as *;
@use 'media-queries' as *;
@use 'typography' as *;

header {
    background-color: $dark;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;

    .header-container {
        align-items: center;
        display: flex;
        height: 5.375rem;
        justify-content: space-between;
    }
}

.header-bottom-border {
    background: #F2C42D;
    background: linear-gradient(90deg,rgba(242, 196, 45, 1) 0%, rgba(241, 112, 34, 1) 100%);
    height: 4px;
}

.logo-container {
    @include text-nav-heading;
    align-items: center;
    display: flex;
    gap: 0.75rem;
    padding-left: 2.25rem;

    img {
        width: 3rem;
    }
}

.desktop-nav {
    display: none;
    opacity: 0;

    @include tablet {
        display: flex;
        opacity: 1;

        .desktop-nav-container {
            display: flex;
            justify-content: space-between;
            list-style: none;

            .desktop-nav-link-container {
                @include text-btn;
                display: flex;
                flex-direction: column;
                font-weight: 500;
                justify-content: center;
                letter-spacing: 0.5px;
                padding: 0 1rem;

                &:last-of-type {
                    padding-right: 2.25rem;
                }

                &:hover {
                    background-color: $section-bg;
                }

                a {
                    color: $light;
                    text-decoration: none;
                }
            }
        }

        .desktop-cta {
            @include text-btn;
            align-items: center;
            background-color: $primary;
            display: flex;
            height: 5.375rem;
            justify-content: center;
            text-decoration: none;
            width: 10rem;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}

.mobile-nav {
    background: #F2C42D;
    background: linear-gradient(0deg,rgba(242, 196, 45, 1) 0%, rgba(241, 112, 34, 1) 58%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;

    @include phone {
        width: 65%;
    }

    @include tablet {
        display: none;
        opacity: 0;
    }

    .mobile-nav-container {
        display: flex;
        flex-direction: column;
        padding: 5rem 0 0 3rem;
        max-width: 14rem;

        .mobile-nav-link-container {
            @include text-nav-link-mobile;
            border-bottom: 1px solid $dark;
            list-style: none;
            padding: 0.75rem 0;

            a {
                color: $dark;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    figure {
        padding: 0 0 3rem 3rem;
        width: 10rem;

        img {
            width: 100%;
        }
    }
}

.opacity-overlay {
    background-color: $dark;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}