@use 'colors' as *;

.hero-section {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative; 
    height: 90vh;
    width: 100%;

    video {
        border-bottom-left-radius: 400px;
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
    }

    .opacity-overlay {
        background-color: $dark;
        bottom: 0;
        left: 0;
        opacity: 0.55;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .hero-overlay {
        align-items: flex-start;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        figure {
            align-items: flex-end;
            display: flex;
            
            img {
                width: 100%;
            }
        }
    }
}

