@use 'colors' as *;
@use 'media-queries' as *;
@use 'typography' as *;

.hero-section {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative; 
    height: 95vh;
    width: 100%;

    video {
        border-bottom-left-radius: clamp(6.25rem, -14.13rem + 81.522vw, 25rem);
        display: block;
        height: 87vh;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
    }

    .gradient-underlay {
        align-items: flex-end;
        background: #F2C42D;
        background: linear-gradient(270deg,rgba(242, 196, 45, 1) 0%, rgba(241, 112, 34, 1) 61%);
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        .msg-next-concert-container {
            @include text-next-concert;
            align-items: center;
            display: flex;
            gap: 0.5rem;
            padding: 0 clamp(1rem, -1.174rem + 8.696vw, 3rem) 1.5rem 0;
            text-transform: uppercase;

            @include phone {
                padding-bottom: 1.25rem;
            }

            @include tablet {
                padding-bottom: 1rem;
            }

            img {
                width: clamp(2.5rem, 1.141rem + 5.435vw, 3.75rem);
            }
        }
    }

    .opacity-overlay {
        background-color: $dark;
        border-bottom-left-radius: clamp(6.25rem, -14.13rem + 81.522vw, 25rem);
        bottom: 0;
        height: 87vh;
        left: 0;
        opacity: 0.55;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .hero-logo-container {
        align-items: center;
        border-bottom-left-radius: clamp(6.25rem, -14.13rem + 81.522vw, 25rem);
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 87vh;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;

        figure {
            transform: translateY(2.75rem);
            width: clamp(22.75rem, 12.636rem + 40.455vw, 45rem);

            img {
                width: 100%;
            }
        }
    }
}

