// Colors
$light: #F5FCFF;
$dark: #0B1013;
$section-bg: #9DDCF81A;
$primary: #F17122;
$secondary: #9DDCF8;

// Font Families
$font-primary: 'Open Sans', sans-serif;
$font-accent: 'Raleway', sans-serif;

// Container
$max-width-container: 85.5rem;