@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0B1013;
  background: linear-gradient(90deg, rgb(11, 16, 19) 0%, rgb(36, 70, 90) 86%);
  color: #F5FCFF;
}

h1 {
  color: #F5FCFF;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 0.913rem + 2.609vw, 3rem);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: clamp(2rem, 1.266rem + 3.261vw, 3.875rem);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #F5FCFF;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 1.109rem + 1.739vw, 2.5rem);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  color: #F5FCFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}

p {
  color: #F5FCFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

p.small-text-label {
  color: #F5FCFF;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.5rem;
}

section {
  padding: clamp(3.75rem, 2.772rem + 4.348vw, 6.25rem) 0;
  position: relative;
}

.side-padding {
  padding: 0 clamp(1rem, 0.804rem + 0.87vw, 1.5rem);
}

.container-lg {
  margin: 0 auto;
  max-width: 85.5rem;
}

.container-sm {
  margin: 0 auto;
  max-width: 40rem;
}

.btn {
  color: #0B1013;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F17122;
  border: none;
  color: #0B1013;
  cursor: pointer;
  text-align: center;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  transform: scale(1.02);
}
.btn:active {
  transform: scale(0.99);
}

header {
  background-color: #0B1013;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}
header .header-container {
  align-items: center;
  display: flex;
  height: clamp(3.75rem, 2.391rem + 5.435vw, 5rem);
  justify-content: space-between;
}

.header-bottom-border {
  background: #F2C42D;
  background: linear-gradient(90deg, rgb(242, 196, 45) 0%, rgb(241, 112, 34) 100%);
  height: 4px;
}

.logo-container {
  color: #F5FCFF;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  gap: 0.75rem;
  padding-left: clamp(1rem, -0.359rem + 5.435vw, 2.25rem);
}
.logo-container img {
  width: 3rem;
}

.hamburger-menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-right: 2.25rem;
  position: relative;
  width: 40px;
  z-index: 10;
}
@media (min-width: 53.75rem) {
  .hamburger-menu {
    display: none;
  }
}
.hamburger-menu .menu-bars {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  height: 100%;
}
.hamburger-menu .menu-bars .menu-bar {
  background-color: #F5FCFF;
  height: 2.5px;
}
.hamburger-menu .menu-bars .menu-bar-top {
  width: 40px;
}
.hamburger-menu .menu-bars .menu-bar-middle {
  width: 40px;
}
.hamburger-menu .menu-bars .menu-bar-bottom {
  width: 30px;
}

.desktop-nav {
  display: none;
  opacity: 0;
}
@media (min-width: 53.75rem) {
  .desktop-nav {
    display: flex;
    opacity: 1;
  }
  .desktop-nav .desktop-nav-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .desktop-nav .desktop-nav-container .desktop-nav-link-container {
    color: #0B1013;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.5px;
    padding: 0 1rem;
  }
  .desktop-nav .desktop-nav-container .desktop-nav-link-container:last-of-type {
    padding-right: 2.25rem;
  }
  .desktop-nav .desktop-nav-container .desktop-nav-link-container:hover {
    background-color: rgba(157, 220, 248, 0.1019607843);
  }
  .desktop-nav .desktop-nav-container .desktop-nav-link-container a {
    color: #F5FCFF;
    text-decoration: none;
  }
  .desktop-nav .desktop-cta {
    color: #0B1013;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    background-color: #F17122;
    display: flex;
    height: 5.375rem;
    justify-content: center;
    text-decoration: none;
    width: 10rem;
  }
  .desktop-nav .desktop-cta:hover {
    opacity: 0.85;
  }
}

.mobile-nav {
  background: #F2C42D;
  background: linear-gradient(0deg, rgb(242, 196, 45) 0%, rgb(241, 112, 34) 58%);
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  opacity: 0;
}
@media (min-width: 30rem) {
  .mobile-nav {
    width: 22rem;
  }
}
@media (min-width: 53.75rem) {
  .mobile-nav {
    display: none;
    opacity: 0;
  }
}
.mobile-nav .mobile-nav-container {
  display: flex;
  flex-direction: column;
  padding: 5.75rem 0 0 0;
}
.mobile-nav .mobile-nav-container .mobile-nav-link-container {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #0B1013;
  list-style: none;
  padding: 1rem 3rem;
}
.mobile-nav .mobile-nav-container .mobile-nav-link-container:first-of-type {
  border-top: 1px solid #0B1013;
}
.mobile-nav .mobile-nav-container .mobile-nav-link-container a {
  color: #0B1013;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav figure {
  padding: 0 0 3rem 3rem;
  width: 10rem;
}
.mobile-nav figure img {
  width: 100%;
}

.hero-section {
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  height: 95vh;
  width: 100%;
}
.hero-section video {
  border-bottom-left-radius: clamp(6.25rem, -14.13rem + 81.522vw, 25rem);
  display: block;
  height: 87vh;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}
.hero-section .gradient-underlay {
  align-items: flex-end;
  background: #F2C42D;
  background: linear-gradient(270deg, rgb(242, 196, 45) 0%, rgb(241, 112, 34) 61%);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hero-section .gradient-underlay .msg-next-concert-container {
  color: #0B1013;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(0.8rem, 0.039rem + 3.043vw, 1.5rem);
  font-style: normal;
  font-weight: 600;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 0 clamp(1rem, -1.174rem + 8.696vw, 3rem) 1.5rem 0;
  text-transform: uppercase;
}
@media (min-width: 30rem) {
  .hero-section .gradient-underlay .msg-next-concert-container {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 53.75rem) {
  .hero-section .gradient-underlay .msg-next-concert-container {
    padding-bottom: 1rem;
  }
}
.hero-section .gradient-underlay .msg-next-concert-container img {
  width: clamp(2.5rem, 1.141rem + 5.435vw, 3.75rem);
}
.hero-section .opacity-overlay {
  background-color: #0B1013;
  border-bottom-left-radius: clamp(6.25rem, -14.13rem + 81.522vw, 25rem);
  bottom: 0;
  height: 87vh;
  left: 0;
  opacity: 0.55;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.hero-section .hero-logo-container {
  align-items: center;
  border-bottom-left-radius: clamp(6.25rem, -14.13rem + 81.522vw, 25rem);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
.hero-section .hero-logo-container figure {
  transform: translateY(2.75rem);
  width: clamp(22.75rem, 12.636rem + 40.455vw, 45rem);
}
.hero-section .hero-logo-container figure img {
  width: 100%;
}

.media-section {
  padding: clamp(5rem, 3.864rem + 4.545vw, 7.5rem) 0;
}

.media-header-icon {
  margin: 0 auto 1.5rem auto;
  width: clamp(5rem, 3.864rem + 4.545vw, 7.5rem);
}
.media-header-icon img {
  width: 100%;
}

h1 {
  margin: 0 auto clamp(5rem, 4.432rem + 2.273vw, 6.25rem) auto;
  max-width: 50rem;
}

.video-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media (min-width: 53.75rem) {
  .video-grid {
    grid-template-columns: 1fr 2fr;
  }
}
.video-grid .video-list {
  order: 2;
}
.video-grid .video-list .video {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: clamp(0.5rem, 0.273rem + 0.909vw, 1rem) 0 clamp(0.5rem, 0.273rem + 0.909vw, 1rem) 1rem;
}
.video-grid .video-list .video .song-data {
  max-width: 18.75rem;
}
.video-grid .video-list .video .song-data p {
  text-overflow: ellipsis;
}
.video-grid .video-list .video .song-data p:first-of-type {
  color: #0B1013;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transform: translateY(5px);
}
.video-grid .video-list .video .song-data p:last-of-type {
  color: #0B1013;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  transform: translateY(-5px);
}
.video-grid .video-list .video figure {
  cursor: pointer;
  padding-right: 0.75rem;
}
@media (min-width: 53.75rem) {
  .video-grid .video-list .video figure:active {
    transform: scale(0.95);
    transition: all 0.25 ease-in-out;
  }
}
.video-grid .video-list .video-1 {
  background-color: #F17122;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.video-grid .video-list .video-2 {
  background-color: #F2C42D;
}
.video-grid .video-list .video-3 {
  background-color: #9DDCF8;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
@media (min-width: 53.75rem) {
  .video-grid .video-list {
    order: 1;
    min-height: clamp(20rem, 16.591rem + 13.636vw, 27.5rem);
  }
}
.video-grid .video-player {
  order: 1;
}
.video-grid .video-player.hide-video {
  display: none;
}
.video-grid .video-player.show-video {
  display: block;
}
@media (min-width: 53.75rem) {
  .video-grid .video-player {
    order: 2;
  }
}
.video-grid .video-player iframe {
  aspect-ratio: 16/9;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
